.about-view{
	position: relative;
	z-index: 1;
	@include flexbox();
	@include align-items(center);
	// @include justify-content(space-between);
	.about-view__info{
		order: 1;
		width: 740px;
	}
	.about-view__img{
		order: 2;
		width: 620px;
		margin: 0 0 0 130px;
	}
	.about-view__button{
		display: inline-block;
		padding: 35px 0 0;
	}
}

@media (max-width: 1400px){
	.about-view{
		.about-view__info{
			width: 740px;
		}
		.about-view__img{
			width: 620px;
			margin: 0 0 0 80px;
		}
	}
}

@media (max-width: 1200px){
	.about-view{
		display: block;
		@include flex-wrap(wrap);
		.about-view__info{
			display: inline;
			width: 100%;
		}
		.about-view__img{
			display: inline;
			float: right;
			width: 100%;
			width: 480px;
			margin: 0 0 30px 50px;
		}
	}
}

@media (max-width: 1000px){
	.about-view{
		.about-view__img{
			width: 360px;
			margin: 0 0 15px 30px;
		}
	}
}

@media (max-width: 768px){
	.about-view{
		.about-view__img{
			width: 320px;
			margin: 0 0 15px 30px;
		}
		.about-view__button{
			padding: 15px 0 0;
		}
	}
}

@media (max-width: 640px){
	.about-view{
		@include flexbox();
		.about-view__info{
			width: 100%;
		}
		.about-view__img{
			float: none;
			width: 100%;
			margin: 40px 0 0;
		}
		.about-view__button{
			padding: 15px 0 0;
		}
	}
}