.breadcrumb{
	background: transparent;
	margin: 0px;
	padding: 30px 0px 0px; 
	li{
		position: relative;
		font-size: 18px;
		font-family: DIN2014-Light;
		line-height: 1.0;
		a{
			color: #18448f;
			font-size: 18px;
			font-family: DIN2014-Light;
			line-height: 1.0;
		}
		&.active{
			color: #464545;
			a{
				color: #18448f;
			}
		}
	}
	&>li{
		&+li{
			&:before{
				color: #18448f;
				font-size: 16px;
				padding: 0px 6px 0px 10px;
			}
		}
	}
}

@media (max-width: 1000px){
	.breadcrumb{
		li{
			font-size: 16px;
			a{
				font-size: 16px;
			}
		}
		&>li{
			&+li{
				&:before{
					padding: 0px 6px 0px 8px;
				}
			}
		}
	}
}
@media (max-width: 640px){
	.breadcrumb{
		li{
			font-size: 14px;
			a{
				font-size: 14px;
			}
		}
		&>li{
			&+li{
				&:before{
					padding: 0px 4px 0px 6px;
				}
			}
		}
	}
}