/* 1 */
// Карусель с подстраницами паломничества/экскурсии
.carousel-content{
	position: relative;
	.carousel-content__media{
		// position: absolute;
		position: relative;
		width: 1600px;
		left: 170px;
		overflow: hidden;
		// top: 0;
		&.services-box-carousel {
			width: 1825px;
		}
	}
	.carousel-content__nav{
		position: relative;
		width: 170px;
		.slick-prev,
		.slick-next {
			bottom: 0;
			top: auto;
			@include transform(translate(0, 0));
		}
		.slick-prev {
		    left: 0px;
		}
		.slick-next {
			right: auto;
		    left: 65px;
		}
	}
}
.child-carousel{
	position: relative;
	z-index: 1;
	width: 1070px;
	margin: 0 -7px !important;
	.slick-list{
		overflow: visible;
	}
	.child-carousel__item{
		margin: 0 7px;
		&:hover{
			.child-carousel__img{
				.child-carousel__but{
					opacity: 1;
					pointer-events: all;
					@include transition(all .4s linear .3s);
				}
				&:after{
					opacity: 1;
					@include transition(all .3s linear);
				}
			}
		}
	}
	.child-carousel__name{
		width: 522px;
		color: #fc789b;
		font-size: 24px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		line-height: 1.1;
		letter-spacing: 0.12px;
		padding: 0 0 10px;
	    white-space: nowrap;
        overflow: hidden;
    	text-overflow: ellipsis;
	}
	.child-carousel__img{
		position: relative;
		text-align: center;
		width: 522px;
		height: 350px;
		overflow: hidden;
		img{
		    position: absolute;
		    z-index: 0;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    -o-object-fit: cover;
		    object-fit: cover;
		}
		.child-carousel__but{
			position: absolute;
			z-index: 3;
			top: calc(50% - 30px);
			left: 0;
			width: 100%;
			opacity: 0;
			pointer-events: none;
			@include transition(all .3s linear);
			a{
				display: inline-block;
				vertical-align: middle;
				width: auto;
				height: 60px;
				color: #fff;
				font-size: 24px;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				line-height: 56px;
				letter-spacing: 4.8px;
				text-transform: uppercase;
				border: 2px solid #fff;
				padding: 0 50px;
				@include border-radius(30px);
			}
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			z-index: 2;
			pointer-events: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background: rgba(0, 0, 0, 0.7);
			@include transition(all .4s linear .3s);
		}
		.child-carousel__attr{
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 0;
			background: #fff;
			padding: 12px 5px 6px;
		}
	}
	&.services-box{
		width: 1392px;
		margin: 0 -14px !important;
		.services-box__item{
			margin: 10px 14px 0;
		}
		.services-box__name{
			width: 436px;
			letter-spacing: 4.5px !important;
			text-transform: uppercase !important;
		}
		.services-box__img{
			width: 436px;
			height: 290px;
		}
	}
}
.child-carousel-attr{
	@include flexbox();
	.child-carousel-attr__item{
		font-size: 18px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		line-height: 1.1;
		padding: 0 5px;
		i, span{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
/* 1 */

/* 2 */
// Блок, который появляется, при клике на кнопку подобнее
.child-box{
	position: relative;
	z-index: 1;
	.child-box__item{
		display: none;
		height: 0;
		&.active{
			display: block;
			height: auto;
			min-height: 500px;
			margin: 140px 0 0;
			.child-box__info{
				height: auto;
			}
		}
	}
	.child-box__info{
		width: 940px;
		height: 0;
		padding: 0 100px 0 0;
		h2{
			color: #5a5a5a;
			font-size: 32px;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			line-height: 1.2;
			letter-spacing: 6.4px;
			margin: 0;
			padding: 0 0 20px;
		    text-align: left;
		}
	}
	.child-box__button{
		display: inline-block;
		padding: 35px 0 0;
	}
	.child-box__media{
		position: absolute;
		top: 0;
		// right: -366px;
		// width: 820px;
		// width: 1090px;
		width: 1186px;
		left: 1086px;
	}
}
// Карусель, которая появляется, при клике на кнопку подобнее
.child-gallery{
	margin: 0 -10px !important;
	.child-gallery__item{
		margin: 0 10px;
	}
	.child-gallery__img{
		position: relative;
		text-align: center;
		width: 583px;
		height: 429px;
		overflow: hidden;
		img{
		    position: absolute;
		    z-index: 0;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    -o-object-fit: cover;
		    object-fit: cover;
		}
	}
	.slick-prev,
	.slick-next {
		top: auto;
		@include transform(translate(0, 0));
		bottom: -70px;
	}
	.slick-prev {
	    left: 0px;
	}
	.slick-next {
		right: auto;
	    left: 65px;
	}
}
/* 2 */

// Если нужны стрелки голубые
.carousel-arrow-blue{
	.slick-prev,
	.slick-next {
		border-color: rgba(#7e9dfb, 1) !important;
		svg{
			path{
	            fill: rgba(#7e9dfb, 1) !important;
			}
	    }
	    &:hover, &:focus {
			border-color: rgba(#7e9dfb, 1) !important;
	        background: rgba(#7e9dfb, 1) !important;
	        svg{
	            path{
	                fill: rgba(#fff, 1) !important;
	            }
	        }
	    }
	}
}

@media (max-width: 1600px){
	/* 2 */
	// Блок, который появляется, при клике на кнопку подобнее
	.child-box{
		.child-box__item{
			&.active{
				margin: 100px 0 0;
			}
		}
		.child-box__info{
			width: 760px;
			height: 0;
			padding: 0 70px 0 0;
			h2{
				font-size: 30px;
				letter-spacing: 6.3px;
				padding: 0 0 20px;
			}
		}
		.child-box__button{
			padding: 30px 0 0;
		}
		.child-box__media{
			width: 1186px;
			left: 860px;
		}
	}
}

@media (max-width: 1400px){
	/* 1 */
	// Карусель с подстраницами паломничества/экскурсии
	.carousel-content{
		.carousel-content__media{
		    width: 1310px;
			left: 150px;
			&.services-box-carousel {
			    width: 1460px;
			}
		}
		.carousel-content__nav{
			width: 150px;
		}
	}
	.child-carousel{
		width: 872px;
		margin: 0 -7px !important;
		.child-carousel__item{
			margin: 0 7px;
		}
		.child-carousel__name{
			width: 422px;
			font-size: 22px;
			line-height: 1.1;
			letter-spacing: 0.11px;
			padding: 0 0 10px;
		}
		.child-carousel__img{
			width: 422px;
			height: 250px;
			.child-carousel__but{
				top: calc(50% - 26px);
				a{
					height: 52px;
					font-size: 22px;
					line-height: 48px;
					letter-spacing: 4.6px;
					padding: 0 40px;
				}
			}
		}
		&.services-box{
			width: 1092px;
			margin: 0 -14px !important;
			.services-box__item{
				margin: 10px 14px 0;
			}
			.services-box__name{
				width: 336px;
				letter-spacing: 3.5px !important;
			}
			.services-box__img{
				width: 336px;
				height: 190px;
			}
		}
	}
	/* 2 */
	// Блок, который появляется, при клике на кнопку подобнее
	.child-box{
		.child-box__item{
			&.active{
				margin: 100px 0 0;
			}
		}
		.child-box__info{
			width: 680px;
			padding: 0 70px 0 0;
			h2{
				font-size: 28px;
				letter-spacing: 5.3px;
				padding: 0 0 20px;
			}
		}
		.child-box__button{
			padding: 30px 0 0;
		}
		.child-box__media{
			left: 750px;
			width: 990px;
		}
	}
	.child-gallery{
		margin: 0 -10px !important;
		.child-gallery__item{
			margin: 0 10px;
		}
		.child-gallery__img{
			width: 483px;
			height: 329px;
		}
	}
}

@media (max-width: 1200px){
	/* 1 */
	// Карусель с подстраницами паломничества/экскурсии
	.carousel-content{
		.carousel-content__media{
			position: relative;
			top: auto;
			left: auto;
		   	width: calc(100% + 20px);
			&.services-box-carousel {
			    width: calc(100% + 20px);
			}
		}
		.carousel-content__nav{
			width: 150px;
			height: 70px;
		}
	}
	.child-carousel{
		width: calc(100% + 20px);
		margin: 0 -10px !important;
		.child-carousel__item{
			margin: 0 10px;
		}
		.child-carousel__name{
			width: 100%;
			font-size: 20px;
			line-height: 1.1;
			letter-spacing: 0.1px;
			padding: 0 0 10px;
		}
		.child-carousel__img{
			width: 100%;
			height: 220px;
			.child-carousel__but{
				top: calc(50% - 23px);
				a{
					height: 46px;
					font-size: 18px;
					line-height: 42px;
					letter-spacing: 4px;
					padding: 0px 30px;
				}
			}
		}
		&.services-box{
			width: calc(100% + 20px);
			margin: 0 -10px !important;
			.services-box__item{
				margin: 10px 10px 0;
			}
			.services-box__name{
				width: 100%;
				letter-spacing: 3px !important;
			}
			.services-box__img{
				width: 100%;
				height: 220px;
			}
		}
	}
	/* 2 */
	// Блок, который появляется, при клике на кнопку подобнее
	.child-box{
		.child-box__item{
			&.active{
				margin: 60px 0 0;
			}
		}
		.child-box__info{
			width: 100%;
			padding: 0 0 50px;
			h2{
				font-size: 26px;
				letter-spacing: 5px;
				padding: 0 0 20px;
			}
		}
		.child-box__button{
			padding: 20px 0 0;
		}
		.child-box__media{
			position: relative;
			top: auto;
			left: auto;
			width: 100%;
			padding: 0 0 70px;
		}
	}
	.child-gallery{
		width: calc(100% + 20px);
		margin: 0 -10px !important;
		.child-gallery__item{
			margin: 0 10px;
		}
		.child-gallery__img{
			width: 100%;
			height: 220px;
		}
	}
}

@media (max-width: 640px){
	/* 1 */
	// Карусель с подстраницами паломничества/экскурсии
	.carousel-content{
		.carousel-content__media{
			position: relative;
			top: auto;
			left: auto;
		   	width: 180%;
			&.services-box-carousel {
			    width: 180%;
			}
		}
		.carousel-content__nav{
			width: 150px;
			height: 65px;
			.slick-next {
				right: auto;
			    left: 60px;
			}
		}
	}
	.child-carousel{
		.child-carousel__name{
			font-size: 20px;
			line-height: 1.1;
			letter-spacing: 0.09px;
		}
		.child-carousel__img{
			width: 100%;
			height: 320px;
			.child-carousel__but{
				top: calc(50% - 23px);
				a{
					height: 42px;
					font-size: 16px;
					line-height: 38px;
					letter-spacing: 2px;
					padding: 0px 20px;
				}
			}
		}
		&.services-box{
			margin: 0 -10px !important;
			.services-box__item{
				margin: 10px 10px 0;
			}
			.services-box__name{
				width: 100%;
				letter-spacing: 1px !important;
			}
			.services-box__img{
				width: 100%;
				height: 320px;
			}
		}
	}
	/* 2 */
	// Блок, который появляется, при клике на кнопку подобнее
	.child-box{
		.child-box__item{
			&.active{
				margin: 60px 0 0;
			}
		}
		.child-box__info{
			width: 100%;
			padding: 0 0 50px;
			h2{
				font-size: 26px;
				letter-spacing: 2px;
				padding: 0 0 20px;
			}
		}
		.child-box__button{
			padding: 20px 0 0;
		}
		.child-box__media{
			width: 180%;
			padding: 0 0 65px;
		}
	}
	.child-gallery{
		width: 100%;
		margin: 0 -10px !important;
		.child-gallery__item{
			margin: 0 10px;
		}
		.child-gallery__img{
			width: 100%;
			height: 320px;
		}
		.slick-prev,
		.slick-next {
			bottom: -65px;
		}
		.slick-next {
		    left: 60px;
		}
	}
}

@media (max-width: 480px){
	.carousel-content{
		.carousel-content__media{
			width: 190%;
			&.services-box-carousel {
			    width: 190%;
			}
		}
	}
	.child-carousel{
		margin: 0 -5px !important;
		.child-carousel__item{
			margin: 0 5px;
		}
		.child-carousel__img{
			height: 260px;
		}
		&.services-box{
			margin: 0 -5px !important;
			.services-box__item{
				margin: 10px 5px 0;
			}
			.services-box__img{
				height: 260px;
			}
		}
	}
	.child-box{
		.child-box__media{
			width: 190%;
		}
		.child-box__info{
			h2{
				font-size: 24px;
				letter-spacing: 0.3px;
				padding: 0 0 20px;
			}
		}
	}
	.child-gallery{
		margin: 0 -5px !important;
		.child-gallery__item{
			margin: 0 5px;
		}
		.child-gallery__img{
			height: 260px;
		}
	}
}

@media (max-width: 400px){
	.child-carousel{
		.child-carousel__img{
			height: 240px;
		}
		&.services-box{
			.services-box__img{
				height: 240px;
			}
		}
	}
	.child-gallery{
		.child-gallery__img{
			height: 240px;
		}
	}
}