.content{
	width: 100%;
	padding: 0px 145px;
	margin: 0 auto;
}
.page-content{
	padding: 110px 0 90px;
	.circle-box{
		&.circle-box-big{
		    top: -100px;
    		right: calc(50% - 1345px);
		}
	}
}
.text-h1-gradient{
	background: rgba(252,108,144,1);
	background: -moz-linear-gradient(45deg, rgba(252,108,144,1) 50%, rgba(137,149,240,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(50%, rgba(252,108,144,1)), color-stop(100%, rgba(137,149,240,1)));
	background: -webkit-linear-gradient(45deg, rgba(252,108,144,1) 50%, rgba(137,149,240,1) 100%);
	background: -o-linear-gradient(45deg, rgba(252,108,144,1) 50%, rgba(137,149,240,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(252,108,144,1) 50%, rgba(137,149,240,1) 100%);
	background: linear-gradient(45deg, rgba(252,108,144,1) 50%, rgba(137,149,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6c90', endColorstr='#8995f0', GradientType=1 );
}
h1{
	color: rgba(252,108,144,1);
	font-size: 58px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	line-height: 1.0;
	letter-spacing: -0.29px;
	margin: 0;
	padding: 0 0 75px;
	text-transform: uppercase;
	&.color-gradient{
		display: table;
		@extend .text-h1-gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.text-back{
	position: absolute;
	top: -55px;
	left: 40px;
	z-index: -1;
	color: rgba(#efefef, 0.3);
	font-size: 160px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	line-height: 1.0;
	letter-spacing: -0.8px;
	text-transform: uppercase;
	white-space: nowrap;
}


@import "_about-view";
@import "_page-view";
@import "_services-view";
@import "_carousel-content";
// @import "./page/_gallery-box";
// @import "./page/_review";
// @import "./page/_breadcrumb";
// @import "./page/_pagination";
// @import "_callback";

@media (max-width: 1620px){
	.content{
		padding: 0px 100px;
	}
}

@media (max-width: 1400px){
	.content{
		padding: 0px 70px;
	}
	.page-content{
		padding: 75px 0 70px;
		.circle-box{
			&.circle-box-big{
			    top: -100px;
	    		right: calc(50% - 1245px);
			}
		}
	}
	h1{
		font-size: 54px;
		letter-spacing: -0.27px;
		padding: 0 0 55px;
	}
	.text-back{
		top: -27px;
    	left: 40px;
		font-size: 100px;
		letter-spacing: -0.1px;
	}
}

@media (max-width: 1200px){
	.content{
		padding: 0px 40px;
	}
	h1{
		font-size: 50px;
		letter-spacing: -0.25px;
		padding: 0 0 55px;
	}
	.text-back{
		top: -27px;
    	left: 40px;
		font-size: 80px;
		letter-spacing: -0.1px;
	}
}

@media (max-width: 1000px){
	.content{
		padding: 0px 20px;
	}
	.page-content{
		padding: 55px 0 60px;
	}
	h1{
		font-size: 46px;
		letter-spacing: -0.23px;
		padding: 0 0 35px;
	}
}

@media (max-width: 640px){
	.page-content{
		padding: 35px 0 60px;
	}
	h1{
		font-size: 42px;
		letter-spacing: -0.21px;
		padding: 0 0 35px;
	}
	.text-back{
		top: -12px;
    	left: 20px;
		font-size: 60px;
		letter-spacing: -0.1px;
	}
}

@media (max-width: 480px){
	.content{
		padding: 0px 20px;
	}
	h1{
		font-size: 38px;
		letter-spacing: -0.19px;
		padding: 0 0 25px;
	}
}

@media (max-width: 360px){
	.content{
		padding: 0px 10px;
	}
}