.page-view{
	position: relative;
	z-index: 1;
	min-height: 520px;
	padding: 0 0 70px;
	.page-view__info{
		position: relative;
		width: 865px;
		padding: 0 130px 0 0;
	}
	.page-view__media{
		position: absolute;
		top: 0;
		// right: -270px;
		left: 995px;
		width: 916px;
		width: 1186px;
	}
}

.page-view-carousel-header{
	color: #fc789b;
	font-size: 32px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	line-height: 1.1;
	letter-spacing: 6.4px;
	padding: 0 0 30px;
	text-transform: uppercase;
}

@media (max-width: 1600px){
	.page-view{
		min-height: 520px;
		padding: 0 0 70px;
		.page-view__info{
			width: 700px;
			padding: 0 70px 0 0;
		}
		.page-view__media{
			left: 800px;
			width: 1186px;
		}
	}
}

@media (max-width: 1400px){
	.page-view{
		min-height: 520px;
		padding: 0 0 70px;
		.page-view__info{
			width: 680px;
			padding: 0 70px 0 0;
		}
		.page-view__media{
			left: 750px;
			width: 990px;
		}
	}
	.page-view-carousel-header{
		font-size: 30px;
		letter-spacing: 6.2px;
		padding: 0 0 30px;
	}
}

@media (max-width: 1200px){
	.page-view{
		min-height: 520px;
		padding: 0 0 120px;
		.page-view__info{
			width: 100%;
			padding: 0 0 30px;
		}
		.page-view__media{
			position: relative;
			top: auto;
			left: auto;
			width: 100%;
		}
	}
	.page-view-carousel-header{
		font-size: 28px;
		letter-spacing: 5.2px;
		padding: 0 0 30px;
	}
}

@media (max-width: 640px){
	.page-view{
		.page-view__media{
			width: 180%;
		}
	}
	.page-view-carousel-header{
		font-size: 28px;
		letter-spacing: 2px;
		padding: 0 0 30px;
	}
}

@media (max-width: 480px){
	.page-view{
		.page-view__media{
			width: 190%;
		}
	}
}