/* Pagination */
.pagination-box{
	text-align: center;
	.pagination{
		margin: 0;
		padding: 0;
		li{
			float: left;
			margin-right: 3px;
			a{
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 35px;
				padding: 0;
				background: transparent;
				border-color: #194690;
				color: #000;
				font-size: 16px;
				font-family: DIN2014-Regular;
				&:hover, &:focus{
					background: #194690;
					color: #fff;
				}
			}
			&.active{
				a, span{
				    background: #194690;
					border-color: #194690;
					color: #fff;
				}
			}
			&.disabled{
				a{
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}
	} 		
}

@media (max-width: 480px){
	/* Pagination */
	.pagination-box{
		.pagination{
			li{
				a{
					width: 26px;
					height: 26px;
					line-height: 26px;
					font-size: 14px;
				}
			}
		}
	} 		
}