.lk-content{
	width: 100%;
	overflow: hidden;
	padding: 40px 0px 60px;
}

.lk-box{
	margin: 20px 0px 0px;
	.lk-box__menu{
		position: relative;
		padding: 0 0 18px;
		&:after{
			content: '';
			position: absolute;
			display: block;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: #e5e5e5;
		}
	}
	.lk-box__content{
		padding: 60px 0px 0px;
		h3{
			color: #000;
			font-size: 18px;
			font-family: GothamProReg;
			text-transform: uppercase;
			margin: -20px 0 30px;
			padding: 0;
		}
		h4{
			color: #000;
			font-size: 18px;
			font-family: GothamPro-Bold;
			text-transform: uppercase;
			margin: 0;
			padding: 15px 0;
		}
	}
}
.lk-menu{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		display: inline-block;
		vertical-align: top;
		padding: 0px 36px 0px 0px;
		a{
			color: #000;
			font-size: 16px;
			font-family: GothamProReg;
			line-height: 1.0;
			text-transform: uppercase;
		}
		&:hover, &:focus, &.active{
			a{
				color: #005da4;
			}
		}
	}
}

@media (max-width: 1200px){
	.lk-box{
		.lk-box__content{
			padding: 50px 0px 0px;
			h3{
				font-size: 15px;
				margin: -10px 0 30px;
				padding: 0;
			}
			h4{
				font-size: 15px;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	.lk-menu{
		li{
			padding: 0px 30px 0px 0px;
			a{
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1000px){
	.lk-box{
		.lk-box__content{
			padding: 30px 0px 0px;
			h3{
				font-size: 16px;
				margin: 0px 0 20px;
				padding: 0;
			}
			h4{
				font-size: 16px;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	.lk-menu{
		li{
			padding: 0px 25px 0px 0px;
			a{
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 768px){
	.lk-box{
		.lk-box__content{
			padding: 30px 0px 0px;
			h3{
				font-size: 16px;
				margin: 0px 0 20px;
				padding: 0;
			}
			h4{
				font-size: 16px;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	.lk-menu{
		li{
			padding: 0px 20px 0px 0px;
			a{
				font-size: 14px;
			}
		}
	}
}