.lk-form{
	width: 600px;
	margin: 0 auto;
	.lk-form__left{
		float: left;
		width: 50%;
		padding: 0 40px 0 0;
	    border-right: 1px solid #dfdfdf; 
	}
	.lk-form__right{
		float: right;
		width: 50%;
		padding: 0 0 0 40px;
	}
	&.lk-form-sm-12{
		width: 100%;
		margin: 0;
		padding: 40px 0px 0px;
		h1, h2{
			font-size: 24px;
			text-transform: none;
			line-height: 1.2;
			text-align: left;
			padding: 0 0 30px;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.login-form{
	.login-form__item{
		position: relative;
		padding: 20px 0px 0px;
	}
	.login-form__link{
		position: absolute;
		top: 2px;
	    right: 10px;
	    color: #000;
	    font-size: 13px;
	    font-family: GothamProReg;
	    line-height: 1;
	    text-decoration: underline;
	}
}

.new-reg{
	h2{
		text-align: left;
	}

	.new-reg__text{
		color: #000;
		font-size: 16px;
		font-family: GothamProReg;
	    line-height: 1.5;
	    ul{
	    	li{
	    		padding: 0 0 10px;
	    	}
	    }
		p{
			margin: 0 0 12px;
		}
	}
	.but{
		width: auto;
		padding: 0 40px;
		text-align: center;
	}
}

.form-white{
	.form-group{
		margin: 0 0 30px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 50px; 
			border: 1px solid rgba(197, 197, 197, 0.43);
			background: #fff;
			color: #000;
			font-size: 14px;
			font-family: GothamProReg; 
			@include border-radius(0);
			@include box-shadow(none);
			&::-webkit-input-placeholder{
				color: rgba(74, 74, 74, 0.8);
			}
			&::-moz-placeholder{
				color: rgba(74, 74, 74, 0.8);
			}
			&:-moz-placeholder{
				color: rgba(74, 74, 74, 0.8);
			}
			&:-ms-input-placeholder{
				color: rgba(74, 74, 74, 0.8);
			}
			&.error{
				color: #a94442;
				border: 1px solid #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
			&:hover, &:focus, &:active{
				outline: 0;
				@include box-shadow(none);
			}
		}
		textarea{
			@include border-radius(0);
			max-width: 100%!important;
			min-width: 100%!important;
			min-height: 65px!important;
			max-height: 65px!important;
		}
		&.form-group-white{
			.input-group{
				position: relative;
				display: block;
				.input-group-addon{
					position: absolute;
					z-index: 2;
					top: 1px;
					left: 1px;
					display: block;
					width: 45px;
					line-height: 48px;
				    border: none;
					padding: 0px;
					text-align: center;
					background: #fff;
				    @include border-radius(0);
				}
				input{
					z-index: 1;
					display: block;
					width: 100%;
					padding: 0 0 0 45px;
				}
			}
		}
	}
	.password-form-group {
		.input-group{
			position: relative;
			display: block;
			width: 100%;
			.input-group-addon, .input-group-btn, .form-control{
				display: block;
				float: none;
			}
		}
		.input-group-addon{
			position: absolute;
			z-index: 3;
			top: 50%;
			right: 15px;
			width: auto;
			padding: 0;
			color: #737171;
			background-color: transparent;
		    border: none;
		    @include border-radius(0);
		    @include transform(translateY(-50%));
		    &:hover, &:focus, &:active{
		    	cursor: pointer;
		    	color: #252525;
		    }
		}
	}
	.checkbox{
		position: relative;
		@include flexbox();
		@include align-items(center);
		height: 30px;
		min-height: 30px;
		margin: 17px 0px 0px;
	    padding-left: 0px;
		input[type="checkbox"] {
		    position: absolute;
		    left: -9999px;
		}
		input[type="checkbox"] + label {
		    background: url(../images/checkbox.png) 0 0 no-repeat;
		    padding-left: 30px;
		    height: 18px;
		}
		input[type="checkbox"]:checked + label {
		    background-position: 0 -20px;
		}
		label{
			color: #000;
			font-size: 12px;
			font-family: GothamProReg;
			line-height: 20px;
			letter-spacing: 0.9px;
			span{
				position: relative;
				top: -8px;
			}
			a{
				color: #000;
				border-bottom: 1px solid #000;
				@include transition(all .3s ease);
				&:hover, &:focus, &:active{
					color: #d10000;
					border-color: #d10000;
				}
			}
		}
		.help-block{
		    position: absolute;
		    top: 26px;
		    letter-spacing: 0px;
		}
	}
	.form-bot{
		display: table;
		width: 100%;
		margin: 17px 0px 0px;
		.form-captcha{
			display: table-cell;
			vertical-align: middle;
			width: 300px;
			height: 74px;
			@include border-radius(4px);
			.help-block{
				position: absolute;
				display: block;
			}
		}
		.form-button{
			display: table-cell;
			vertical-align: middle;
			padding: 0px 0px 0px 20px;
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.help-block{
		display: none;
		margin: 0px!important;
	    color: #a94442;
		font-size: 12px;
		font-family: GothamProReg;
		text-align: center;
	}
	input[type="submit"], button{
		position: relative;
		width: 100%;
		height: 50px;
		padding: 0;
		border: none;
		&:hover, &:focus, &:active{
			outline: 0;
		}
	}
	.terms_of_use{
		width: 100%;
		margin: 30px auto 0px;
		color: #000;
		font-size: 12px;
		font-family: GothamProReg;
		text-align: center;
		letter-spacing: -0.2px;
	}
	.radio-list, .checkbox-list{
		.checkbox-inline{
			width: auto;
			padding: 0 35px 0 0;
			input[type="checkbox"]{
			    &:not(:checked), &:checked{
					& + label {
						width: auto;
					}
			    }
			}
		}
	}
	.radio-inline{
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 35px 0px 0px;
		left: -2px;
		input[type="radio"]{
			vertical-align: top;
			width: 14px;
			height: 14px;
			margin: 0;
			& + label {
				position: relative;
				width: auto;
	            color: #000;
	            font-size:18px;
				font-family: GothamProReg;
				line-height: 15px;
				letter-spacing: 0.36px;
		        font-weight: normal;
	            padding: 0 0 0 25px;
	            cursor: pointer;
			}
			&:not(checked) {
				position: absolute;
				opacity: 0;
				& + label {
					&:before {
		                content: '';
		                position: absolute;
		                left: 4px; 
		                top: 5px;
		                width: 6px; 
		                height: 6px;
		                background: #005da4;
		                opacity: 0;
		                @include border-radius(50%);
		                @include transition(all .3s linear);
		            }
		            &:after {
		                content: '';
		                position: absolute;
		                left: 0;
		                top: 1px;
		                width: 14px; 
		                height: 14px;
		                border: 1px solid #cccccc;
		                background: transparent;
		                @include transition(all .3s linear);
		            }
				}
			}
			&:checked{
				& + label{
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	.checkbox-inline{
		display: inline-block;
    	vertical-align: top;
		min-height: 30px;
		margin: 0;
		padding: 0 0 0 15px;
		input[type="checkbox"]{
		    &:not(:checked), &:checked{
		        position: absolute;
		        left: -9999px;
		        & + label {
		            position: relative;
		            color: #000;
		            font-size:18px;
					font-family: GothamProReg;
					line-height: 16px;
					letter-spacing: 0.36px;
			        font-weight: normal;
		            padding: 0 0 0 25px;
		            cursor: pointer;
		            &:before {
		                content: '';
		                position: absolute;
		                left: 4px; 
		                top: 5px;
		                width: 6px; 
		                height: 6px;
		                background: #005da4;
		                @include border-radius(50%);
		                @include transition(all .3s linear);
		            }
		            &:after {
		                content: '';
		                position: absolute;
		                left: 0;
		                top: 1px;
		                width: 14px; 
		                height: 14px;
		                border: 1px solid #cccccc;
		                background: transparent;
		                @include transition(all .3s linear);
		            }
		        }
		    }
		    &:not(:checked){
		        & + label {
		            &:before {
						background: transparent;
					}
		        }
		    }
		    &:checked{
		        & + label {
		            &:before {
						background: #005da4;
					}
		        }
		    }
		}
	    &.checkbox-inline-right{
	    	padding: 10px 0px 7px;
	    	input[type="checkbox"]{
			    &:not(:checked), &:checked{
					& + label {
						padding: 0 25px 0 0;
						&:before {
							left: auto;
							right: 4px; 
						}
			            &:after {
			            	left: auto;
							right: 0;
						}
			        }
			    }
			}
	    }
	}
	.file-upload {
		display: block;
		width: 100%; 
		height: 39px;
		line-height: 39px;
		background: #eaeaea;
		margin: 10px 0px 0px;
		text-align: center;
		input[type="file"]{
		    display: none; 
		}
		label {
			font-weight: normal;
			cursor: pointer;
		}
		span {
			color: #000;
			font-size: 16px;
			font-family: GothamProReg;
			line-height: 39px;
			text-transform: uppercase;
		}
	}
	
	&.form-label{
		.form-group{
			margin: 0 0 20px;
			label{
				display: none;
				
			}
			input, textarea, .input-group{
				display: block;
				width: 100%;
			}
			input, textarea{
				color: #626262;
				font-size: 16px;
				letter-spacing: 0.34px;
			}
			&.form-group-radio{
				margin: 0 0 30px;
				& > label{
					width: 70px;
				}
				label{
					display: inline-block;
					margin: 0 0 5px;
					color: #000;
					font-size: 16px;
					font-family: GothamProReg; 
					line-height: 16px;
					letter-spacing: 0.34px;
					font-weight: normal;
				}
				.input-group{
					display: inline-block;
					vertical-align: middle;
					width: calc(100% - 76px);
				}
			}
		}
	}
}

@media (max-width: 1200px){
	.lk-form{
		&.lk-form-sm-12{
			h1, h2{
				font-size: 22px;
				line-height: 1.2;
				padding: 0 0 30px;
			}
		}
	}
}

@media (max-width: 1000px){
	.lk-form{
		width: 600px;
		margin: 0 auto;
		.lk-form__left{
			width: 100%;
			padding: 0;
			border: none;
		}
		.lk-form__right{
			width: 100%;
			padding: 50px 0px 0px;
		}
		&.lk-form-sm-12{
			width: 600px;
			margin: 0 auto;
			padding: 40px 0px 0px;
			h1, h2{
				font-size: 20px;
				padding: 0 0 25px;
			}
		}
	}
	.new-reg{
		.new-reg__text{
			font-size: 14px;
		    line-height: 1.3;
		    ul{
		    	li{
		    		padding: 0 0 10px;
		    	}
		    }
		}
		.but{
			padding: 0 40px;
		}
	}
}

@media (max-width: 640px){
	.lk-form{
		width: 100%;
		&.lk-form-sm-12{
			width: 100%;
		}
		.form-group{
			input {
				height: 36px;
				font-size: 13px;
				padding: 6px 15px;
			}
		}
	}
	.new-reg{
		.but{
			width: 100%;
			padding: 0 20px;
		}
	}
}

@media (max-width: 400px){
	.lk-form{
		width: 100%;
		&.lk-form-sm-12{
			width: 100%;
		}
	}
}