.lk-order{
    .lk-order__header{
        display: table;
        width: 100%;
        background: #005da4;
        .lk-order__column{
            color: #fff;
            font-size: 16px;
            font-family: GothamProReg;
            text-transform: uppercase;
        }
        &:after {
            display: table;
            clear: both;
            content: ''
        }
    }
    .lk-order__item {
        display: table;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        &:nth-child(even){
            background: #f9f9f9;
        }
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .lk-order__column{
        display: table-cell;
        width: 25%;
        color: #000;
        font-size: 16px;
        font-family: GothamProReg;
        line-height: 1.2;
        padding: 12px 20px;
        &.lk-order__column-date{
            width: 25%;
        }
        &.lk-order__column-name{
            width: 50%;
        }
        a{
            color: #003769;
        }
        span{
            color: #000;
            font-size: 16px;
            font-family: GothamPro-Bold;
            @media (min-width: 640px){
                display: none;
            }
        }
    }
}
@media (max-width: 640px){
    .lk-order{
        .lk-order__header{
            display: none;
        }
        .lk-order__item {
            display: block;
            padding: 10px;
        }
        .lk-order__column{
            display: block;
            width: 100%;
            font-size: 14px;
            padding: 7px 0px;
            &.lk-order__column-date{
                width: 100%;
            }
            &.lk-order__column-name{
                width: 100%;
            }
            span{
                font-size: 16px;
            }
        }
    }
}