.lin-gr-1{
	background: rgba(255,107,144,1);
	background: -moz-linear-gradient(left, rgba(255,107,144,1) 25%, rgba(134,150,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(25%, rgba(255,107,144,1)), color-stop(100%, rgba(134,150,242,1)));
	background: -webkit-linear-gradient(left, rgba(255,107,144,1) 25%, rgba(134,150,242,1) 100%);
	background: -o-linear-gradient(left, rgba(255,107,144,1) 25%, rgba(134,150,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,107,144,1) 25%, rgba(134,150,242,1) 100%);
	background: linear-gradient(to right, rgba(255,107,144,1) 25%, rgba(134,150,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b90', endColorstr='#8696f2', GradientType=1 );
	/* background: rgba(255,107,144,1);
	background: -moz-linear-gradient(left, rgba(255,107,144,1) 0%, rgba(134,150,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,107,144,1)), color-stop(100%, rgba(134,150,242,1)));
	background: -webkit-linear-gradient(left, rgba(255,107,144,1) 0%, rgba(134,150,242,1) 100%);
	background: -o-linear-gradient(left, rgba(255,107,144,1) 0%, rgba(134,150,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,107,144,1) 0%, rgba(134,150,242,1) 100%);
	background: linear-gradient(to right, rgba(255,107,144,1) 0%, rgba(134,150,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b90', endColorstr='#8696f2', GradientType=1 ); */
}

.but{
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 73px;
	color: #fff;
	font-size: 22px;
	font-family: DINPro;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.11px;
	padding: 0 50px;
	@extend .lin-gr-1;
	@include border-radius(30px);
	@include transition(all .3s linear);
	&:hover, &:focus, &:active{
		color: #fff;
		// background: darken(#e24220, 10%);
	}
}

.but-link-svg{
	@include flexbox();
	@include align-items(center);
	width: auto;
	color: #fc6b91;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.09px;
	@include transition(all .3s linear);
	svg{
		position: relative;
		top: 1px;
		width: 11px;
		height: 11px;
		path{
			fill: #000;
		}
	}
	span{
		padding: 0 12px 0 0;
	}
	&:hover, &:focus, &:active{
		color: #fc6b91;
	}
}

@media (max-width: 1400px){
	.but{
		height: 63px;
		font-size: 20px;
		line-height: 1;
		letter-spacing: -0.1px;
		padding: 0 40px;
	}
}

@media (max-width: 1200px){
	.but{
		height: 56px;
		font-size: 20px;
		line-height: 1;
		letter-spacing: -0.1px;
		padding: 0 40px;
	}
	.but-link-svg{
		font-size: 17px;
		line-height: 1;
		letter-spacing: -0.085px;
		svg{
			width: 9px;
			height: 9px;
		}
		span{
			padding: 0 10px 0 0;
		}
	}
}

@media (max-width: 1000px){
	.but{
		height: 50px;
		font-size: 18px;
		line-height: 1;
		letter-spacing: -0.09px;
		padding: 0 30px;
	}
}

@media (max-width: 768px){
	.but{
		height: 50px;
		font-size: 17px;
		line-height: 1;
		letter-spacing: -0.085px;
		padding: 0 30px;
	}
}