footer{
	width: 100%;
	height: auto;
}

.footer{
	.content{
		width: 1282px;
		padding: 0;
	}
	.footer__top{
		background: #2d323d;
		.content{
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
			@include align-items(center);
			height: 130px;
			padding: 0 30px
		}
	}
	.footer__item{
		&.footer__item_logo{
			width: 285px;
		}
		&.footer__item_contact{
			width: calc(100% - 285px);
		}
	}
	.footer__bot{
		width: 100%;
		height: auto;
		text-align: center;
		padding: 22px 0px;
		background: #1c1f26;
		color: #d2d2d2;
		font-size: 18px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: -0.09px;
	}
	.footer__copy{
		padding: 10px 0;
	}
}

.footer-logo{
	a{
		@include flexbox();
		@include align-items(center);
		color: #b4b4b4;
		font-size: 32px;
		font-family: 'Caveat', cursive;
		font-weight: 700;
		letter-spacing: -0.16px;
		span{
			position: relative;
			top: -2px;
			padding: 0 0 0 20px;
		}
	}
}

.footer-contact{
	.footer-contact__item{
		text-align: right;
		&.footer-contact__item_phone{
			a{
				color: #b4b4b4;
				font-size: 24px;
				font-family: DINPro;
				line-height: 1.2;
			}
		}
		&.footer-contact__item_soc{
			text-align: right;
			padding: 0;
			a{
				display: inline-block;
				vertical-align: middle;
				margin: 10px 0 0 10px; 
			}
		}
	}
}

@media (max-width: 1400px){
	.footer{
		.content{
			width: 1060px;
			padding: 0;
		}
		.footer__item{
			&.footer__item_logo{
				width: 260px;
			}
			&.footer__item_contact{
				width: calc(100% - 260px);
			}
		}
	}

	.footer-logo{
		a{
			font-size: 30px;
			letter-spacing: -0.15px;
			img{
				width: 54px;
			}
			span{
				top: -2px;
				padding: 0 0 0 15px;
			}
		}
	}
}

@media (max-width: 1200px){
	.footer{
		.content{
			width: 980px;
			padding: 0 40px;
		}
		.footer__top{
			.content{
				height: 105px;
				padding: 0 30px
			}
		}
	}

	.footer-contact{
		.footer-contact__item{
			&.footer-contact__item_phone{
				a{
					font-size: 20px;
				}
			}
			&.footer-contact__item_soc{
				a{
					margin: 2px 0 0 4px; 
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.footer{
		.content{
			width: 760px;
			padding: 0 40px;
		}
	}
}

@media (max-width: 768px){
	.footer{
		.content{
			width: 630px;
			padding: 0 40px;
		}
	}
}

@media (max-width: 640px){
	.footer{
		.content{
			width: 100%;
			padding: 0 20px;
		}
		.footer__item{
			&.footer__item_logo{
				width: 170px;
			}
			&.footer__item_contact{
				width: calc(100% - 170px);
			}
		}
	}
	.footer-logo{
		a{
			font-size: 28px;
			letter-spacing: -0.14px;
			img{
				width: 54px;
			}
			span{
				top: -2px;
				padding: 0 0 0 10px;
				line-height: 26px;
			}
		}
	}
}

@media (max-width: 480px){
	.footer{
		.content{
			padding: 0 20px;
		}
	}
}

@media (max-width: 400px){
	.footer{
		.footer__item{
			&.footer__item_logo{
				width: 54px;
			}
			&.footer__item_contact{
				width: calc(100% - 54px);
			}
		}
	}
	.footer-logo{
		a{
			span{
				display: none;
			}
		}
	}
}

@media (max-width: 360px){
	.footer{
		.content{
			padding: 0 10px;
		}
	}
}