

.form-my{
	.form-group{
		margin: 0 0 20px;
		label{
			display: none;
		}
	}
	.terms_of_use{
	    color: #959595;
	    font-size: 14px;
	    font-family: FuturaLightC;
	    line-height: 1.2;
	    padding: 15px 0px 0px;
	    a{
			color: #959595;
			text-decoration: underline;
		}
	}
	.help-block{
		color: #a94442;
		// display: none;
		margin: 0px!important;
		font-size: 13px;
		font-family: FuturaLightC; 
		text-align: left;
	}
	.form-button{
		margin: 20px 0 0;
	}
	input[type="submit"], button{
		width: 100%;
		border: none;
		@include box-shadow(0px 3px 0px 0px #b48d0b);
		&:hover, &:focus, &:active{
			outline: 0;
			border: none;
			@include box-shadow(0px 1px 0px 0px #b48d0b);
		}
	}
}

.form-modal{
	.form-group{
		margin: 0 0 15px;
		input, textarea{
			&.form-control{
				width: 100%;
				height: 40px; 
				border: 1px solid #eff2f7;
				border: 1px solid #ccc;
				background: #fff;
				color: #000;
				font-size: 16px;
				@include box-shadow(none);
				@include border-radius(10px);
			}
		}
		textarea{
			min-height: 95px!important;
			max-height: 95px!important;
		    padding: 10px 12px;
			@include border-radius(10px !important);
		}
	}
	.form-button{
		.but{
			width: 100%;
		}
	}
}

@media (max-width: 640px){
	.form{
		.input-group{
			.input-group-addon{
				width: 40px;
			}
			input{
				@include border-radius(8px !important);
				padding: 6px 12px 6px 40px;
			}
		}
		input, textarea{
			&.form-control{
				height: 44px; 
				font-size: 16px;
				@include border-radius(8px);
			}
		}
		textarea{
			padding: 10px 15px;
			@include border-radius(8px !important);
		}
	}

}

@media (max-width: 360px){
	.form-my{
		.form-captcha{
			position: relative;
			left: -22px;
			top: 0px;
			display: block;
			margin: 0;
			@include transform(scale(0.85));
		}
	}
}