header{
	position: relative;
	z-index: 10;;
	&.header-home{
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
	}
}
.header{
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	height: 150px;
	.header__logo{
		width: 285px;
		a{
			@include flexbox();
			@include align-items(center);
			color: #2b2b2b;
			font-size: 32px;
			font-family: 'Caveat', cursive;
			font-weight: 700;
			letter-spacing: -0.16px;
			span{
				position: relative;
				top: -2px;
				padding: 0 0 0 20px;
			}
		}
	}
	.header__menu{
		width: 520px;
	}
}

.header-contact{
	position: absolute;
	right: 70px;
	top: 30px;
	.header-contact__item{
		&.header-contact__item_phone{
			a{
				color: #000;
				font-size: 27px;
				font-family: DINPro;
				line-height: 1.2;
			}
		}
		&.header-contact__item_soc{
			text-align: right;
			a{
				display: inline-block;
				vertical-align: middle;
				margin: 10px 5px 0;
			}
		}
	}
}

@media (max-width: 1400px){
	.header{
		height: 105px;
		.header__logo{
			width: 260px;
			a{
				font-size: 30px;
				letter-spacing: -0.15px;
				img{
					width: 54px;
				}
				span{
					top: -2px;
					padding: 0 0 0 15px;
				}
			}
		}
		.header__menu{
			width: 520px;
		}
	}
}

@media (max-width: 1200px){
	.header{
		.header__menu{
			order: 3;
			width: 54px;
		}
	}
	.header-contact{
		order: 2;
		position: relative;
		right: auto;
		top: auto;
		width: calc(100% - 315px);
		padding: 0 30px 0 0;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(flex-end);
		.header-contact__item{
			&.header-contact__item_phone{
				a{
					font-size: 24px;
					line-height: 1.2;
				}
			}
			&.header-contact__item_soc{
				text-align: right;
				a{
					margin: 2px 2px 0;
				}
			}
		}
	}
}

@media (max-width: 1200px){
	.header-contact{
		.header-contact__item{
			&.header-contact__item_phone{
				a{
					font-size: 22px;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.header{
		height: 105px;
		.header__logo{
			width: 170px;
			a{
				font-size: 28px;
				letter-spacing: -0.14px;
				img{
					width: 54px;
				}
				span{
					top: -2px;
					padding: 0 0 0 10px;
					line-height: 26px;
				}
			}
		}
		.header__menu{
			width: 50px;
		}
	}
	.header-contact{
		width: calc(100% - 220px);
		padding: 0 30px 0 0;
		.header-contact__item{
			&.header-contact__item_phone{
				a{
					font-size: 20px;
				}
			}
		}
	}
}

@media (max-width: 480px){
	.header{
		height: 105px;
		.header__logo{
			width: 54px;
			a{
				font-size: 28px;
				letter-spacing: -0.14px;
				img{
					width: 54px;
				}
				span{
					display: none;
				}
			}
		}
	}
	.header-contact{
		width: calc(100% - 104px);
		padding: 0 25px 0 0;
		.header-contact__item{
			&.header-contact__item_phone{
				a{
					font-size: 20px;
				}
			}
		}
	}
}

@media (max-width: 360px){
	.header{
		.header__logo{
			width: 50px;
			a{
				img{
					width: 50px;
				}
			}
		}
		.header__menu{
			width: 46px;
		}
	}
	.header-contact{
		width: calc(100% - 96px);
		padding: 0 20px 0 0;
		.header-contact__item{
			&.header-contact__item_phone{
				a{
					font-size: 20px;
				}
			}
		}
	}
}