.icon{
	display: inline-block;
	vertical-align: top;
	@include background-size(contain !important);
	&.icon-phone{
		width: 13px;
		height: 13px;
		background: url('../images/icon/icon-phone.png') center no-repeat;
	}
	&.icon-form-name{
		width: 15px;
		height: 19px;
		background: url('../images/icon/icon-form-name.png') center no-repeat;
	}
	&.icon-form-phone{
		width: 11px;
		height: 18px;
		background: url('../images/icon/icon-form-phone.png') center no-repeat;
	}
	&.icon-whatsapp{
		width: 28px;
		height: 28px;
		background: url('../images/icon/icon-whatsapp.png') center no-repeat;
	}
	&.icon-viber{
		width: 29px;
		height: 28px;
		background: url('../images/icon/icon-viber.png') center no-repeat;
	}
	&.icon-telegram{
		width: 29px;
		height: 28px;
		background: url('../images/icon/icon-telegram.png') center no-repeat;
	}
	&.icon-instagram{
		width: 28px;
		height: 28px;
		background: url('../images/icon/icon-instagram.png') center no-repeat;
	}
	&.icon-clock{
		width: 20px;
		height: 20px;
		background: url('../images/icon/icon-clock.png') center no-repeat;
	}
	&.icon-euro{
		width: 12px;
		height: 14px;
		background: url('../images/icon/icon-euro.png') center no-repeat;
	}
}

@media (max-width: 640px){
	.icon{
		&.icon-whatsapp{
			width: 29px;
			height: 29px;
		}
		&.icon-viber{
			width: 27px;
			height: 26px;
		}
		&.icon-telegram{
			width: 27px;
			height: 26px;
		}
		&.icon-instagram{
			width: 27px;
			height: 27px;
		}
	}
}