/* Меню */
.menu{
	width: 100%;
	height: 100%;
	ul{
		@include flexbox();
		@include align-items(center);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0 20px;
		line-height: 1.0;
		list-style-type: none;
		li{
			position: relative;
			line-height: 1.0;
			padding: 0 0 0 20px;
			a{
				color: #3c3c3c;
				font-size: 18px;
				font-weight: 400;
				line-height: 1.0;
				letter-spacing: -0.09px;
				@include transition(all .3s linear);
			}
			&.home-link{
				a{
				    display: block;
					width: 20px;
					height: 20px;
					font-size: 0;
					background: url('../images/icon/icon-home.png') 0 0 no-repeat;
				}
			}
			&.active{
				&.home-link{
					a{
						background-position: 0 -20px !important;
					}
				}
			}
			&.active, &:hover{
				a{
					color: #fd6c90;
				}
			}
		}
	}
}

.menu-fix{
	display: none;
}

@media (max-width: 1400px){
	.menu{
		ul{
			padding: 0 20px;
			li{
				a{
					font-size: 17px;
					line-height: 1.0;
					letter-spacing: -0.08px;
				}
			}
		}
	}
}

@media (max-width: 1200px){
	/* Меню */
	html.htmlmenu{
		overflow-y: scroll !important;
	}
	body.bodymenu{
		overflow: hidden!important;
	}
    .menu-fix{
    	display: block;
    	.menu-fix__icon-menu{
		    width: auto;
		    height: auto;
			.icon-bars{
				@include flexbox();
				@include flex-direction(column);
	    		@include align-content(center);
	    		@include justify-content(center);
				width: 54px;
				height: 54px;
				border: 2px solid rgba(0, 0, 0, 0.7);
				@include border-radius(50%);
				.icon-bars__item{
					width: 25px;
					height: 3px;
					background: rgba(0, 0, 0, 0.7);
					margin: 0px auto 5px;
					@include transition(all 0.3s linear);
					@include border-radius(8px);
					&:last-child{
						margin: 0 auto;
					}
				}
			}
			&:hover{
				cursor: pointer;
				.icon-bars{
					.icon-bars__item{
						background: #000;
					}
				}
			}
		}
		.menu-fix__icon-close{
			position: fixed;
			right: 20px;
	    	top: 20px;
			width: 54px;
			height: 54px;
			opacity: 0;
			pointer-events: none;
			cursor: pointer;
			svg{
				width: 100%;
				height: 100%;
				path{
					fill: #9f98ff;
				}
			}
			&.active{
				opacity: 1;
				pointer-events: all;
				z-index: 1051;
				@include transition(all .3s linear .9s);
			}
		}
		.menu-fix__box{
			position: fixed;
			z-index: 1050;
		    top: 0;
	    	right: 0;
	    	width: 100%;
	    	height: 100%;
		    overflow: hidden;
		    background: #d8e2ff;
		    opacity: 0;
    		pointer-events: none;
    		@include flexbox();
			@include align-items(center);
			@include justify-content(center);
		    @include transition(all .3s linear .3s);
		    &.active{
		    	right: 0;
		    	opacity: 1;
    			pointer-events: all;
    			@include transition(all .3s linear);
		    	.menu-fix__box2{
					opacity: 1;
					pointer-events: all;
					z-index: 1051;
					@include transform(scale(1));
					@include transition(all .3s linear .3s);
		    	}
		    	.menu-fix__bottom{
					opacity: 1;
					pointer-events: all;
					z-index: 1051;
					@include transition(all .3s linear .6s);
		    	}
		    }
			.menu-fix__box2{
		    	width: 100%;
				margin: auto;
				max-height: calc(100% - 145px);
				padding: 0;
				opacity: 0;
				overflow: hidden;
				overflow-y: auto;
				pointer-events: none;
				@include transform(scale(0));
				@include transition(all .3s linear);
				.menu-fix__box3{
					max-width: 100%;
			        max-height: 100%;
					ul {
						list-style: none;
						padding: 0px;
						margin: 0;
						display: block;
						max-height: 100%;
						text-align: center;
						li{
							padding: 10px 0px;
							@include transition(all .3s ease);
							a{
								position: relative;
								color: #3c3c3c;
								font-size: 18px;
								font-weight: 400;
								line-height: 1.0;
								letter-spacing: -0.09px;
							}
							&.active, &:hover{
								a{
									color: #fc6c90;
								}
							}
						}
			      	}
				}
		    }
		    .menu-fix__bottom{
		    	width: 100%;
				padding: 25px 20px;
				opacity: 0;
				pointer-events: none;
				@include transition(all .3s linear);
				.menu-fix-contact{
					width: 100% !important;
					padding: 0 !important;
					@include align-items(center !important);
				}
		    }
		    &::-webkit-scrollbar-track
			{
				-webkit-box-shadow: none;
				@include border-radius(20px);
				background-color: #fff;
			}
			&::-webkit-scrollbar
			{
				width: 7px;
				background-color: #fff;
			}
			&::-webkit-scrollbar-thumb
			{
				@include border-radius(10px);
				-webkit-box-shadow: none;
				background-color: #b9b9b9;
			}
		}
		&.active{
			&:after{
				pointer-events: all;
			    z-index: 1040;
				background: rgba(0, 0, 0, 0.6);
			}
		}
		&:after{
	    	content: '';
	    	display: block;
	    	position: fixed;
	    	z-index: 1040;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	pointer-events: none;
	    	background: rgba(0, 0, 0, 0);
	    	@include transition(all .3s linear .3s);
	    }
    }
	.menu{
		display: none;
	}
}

@media (max-width: 640px){
	.menu-fix{
		.menu-fix__icon-menu{
			.icon-bars{
				width: 50px;
				height: 50px;
				.icon-bars__item{
					width: 23px;
					height: 3px;
					margin: 0px auto 4px;
					&:last-child{
						margin: 0 auto;
					}
				}
			}
		}
		.menu-fix__icon-close{
			right: 10px;
		    top: 10px;
		    width: 42px;
		    height: 42px;
		}
		.menu-fix__box{
			.menu-fix__box2{
				max-height: calc(100% - 105px);
				.menu-fix__box3{
					ul {
						li{
							padding: 7px 0px;
							a{
								font-size: 17px;
								letter-spacing: -0.085px;
							}
						}
			      	}
				}
			}
		}
	}
}

@media (max-width: 360px){
	.menu-fix{
		.menu-fix__icon-menu{
			.icon-bars{
				width: 46px;
				height: 46px;
				.icon-bars__item{
					width: 21px;
					height: 3px;
					margin: 0px auto 5px;
					&:last-child{
						margin: 0 auto;
					}
				}
			}
		}
	}
}