.signUpModal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #d8e2ff;
	z-index: 9997;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	overflow-y: auto;
	@include transition(all .3s linear);
	&.active{
		opacity: 1;
		pointer-events: all;
		.signUpModal-dialog__close{
			opacity: 1;
			pointer-events: all;
			@include transition(all .3s linear .7s);
		}
		.signUpModal-dialog{
			opacity: 1;
			pointer-events: all;
			@include transform(scale(1));
			@include transition(all .3s linear .5s);
		}
	}
	.signUpModal-dialog__close{
		position: fixed;
		z-index: 9999;
		right: calc(50% - 420px);
    	top: 20px;
		width: 60px;
		height: 60px;
		opacity: 0;
		pointer-events: none;
		cursor: pointer;
		svg{
			width: 100%;
			height: 100%;
			path{
				fill: #9f98ff;
			}
		}
		@media (min-width: 1200px){
			@media (min-height: 760px){
    			top: calc(50% - 360px);
			}
		}
	}
	.signUpModal-dialog{
		width: 830px;
		margin: auto;
		max-height: 100%;
		
		padding: 35px 0;
		opacity: 0;
		pointer-events: none;
		@include transform(scale(0));
		.signUpModal-dialog__header{
			color: #fc6c91;
			font-size: 34px;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 300;
			line-height: 1.3;
			letter-spacing: 6.4px;
			text-transform: uppercase;
			text-align: center;
		}
	}
	.form-main{
		width: 290px;
		margin: 0 auto;
		padding: 35px 0;
		background: transparent;
		@include box-shadow(none);
	}
	.terms_of_use{
		color: #919191;
		font-size: 12px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		line-height: 1.3;
		letter-spacing: -0.06px;
		text-align: center;
		padding: 0 0 35px;
	}
}

@media (max-width: 1200px){
	.signUpModal{
		.signUpModal-dialog__close{
			right: 20px;
	    	top: 20px;
			width: 50px;
			height: 50px;
		}
		.signUpModal-dialog{
			width: 100%;
			padding: 35px 0;
			.signUpModal-dialog__header{
				font-size: 30px;
				letter-spacing: 6px;
			}
		}
		.form-main{
			width: 290px;
			padding: 35px 0;
		}
	}
}

@media (max-width: 640px){
	.signUpModal{
		padding: 70px 0 0;
		overflow: hidden;
		.signUpModal-dialog__close{
			right: 10px;
		    top: 10px;
		    width: 42px;
		    height: 42px;
		}
		.signUpModal-dialog{
			width: 100%;
			max-height: 100%;
			padding: 0;
			margin: auto;
			overflow: hidden;
			overflow-y: auto;
			.signUpModal-dialog__header{
				font-size: 26px;
				letter-spacing: 5px;
			}
		}
		.form-main{
			width: 290px;
			padding: 25px 0;
		}
	}
}

@media (max-width: 480px){
	.signUpModal{
		.signUpModal-dialog{
			padding: 0 15px;
			.signUpModal-dialog__header{
				font-size: 24px;
				letter-spacing: 4px;
			}
		}
		.form-main{
			width: 250px;
			padding: 20px 0;
		}
		.terms_of_use{
			br{
				display: none;
			}
		}
	}
}