@mixin fontface($name_font, $src) {
	@font-face {
  		font-family: quote($name_font);
  		src: url(quote("../fonts/" + $name_font + ".eot")); 
  		src: url(quote("../fonts/" + $src + ".eot?#iefix")) format("embedded-opentype"), 
		  url(quote("../fonts/" + $src + ".woff")) format("woff"),
      url(quote("../fonts/" + $src + ".woff2")) format("woff2"),
		  url(quote("../fonts/" + $src + ".ttf")) format("truetype");
	}
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transform($translate) {
    -webkit-transform: $translate;
	     -moz-transform: $translate;
        -ms-transform: $translate;
         -o-transform: $translate;
            transform: $translate;
}
@mixin transition-property($property){
    -webkit-transition-property: $property;
	     -moz-transition-property: $property;
        -ms-transition-property: $property;
         -o-transition-property: $property;
            transition-property: $property;
}
@mixin transition($i){
    -webkit-transition: $i;
       -moz-transition: $i;
        -ms-transition: $i;
         -o-transition: $i;
	          transition: $i;
}
@mixin transition-duration($i){
    -webkit-transition-duration: $i;
       -moz-transition-duration: $i;
        -ms-transition-duration: $i;
         -o-transition-duration: $i;
            transition-duration: $i;
}
@mixin transition-delay($i){
    -webkit-transition-delay: $i;
	     -moz-transition-delay: $i;
        -ms-transition-delay: $i;
         -o-transition-delay: $i;
            transition-delay: $i;
}
@mixin background-size($i){
    -webkit-background-size: $i;
       -moz-background-size: $i;
        -ms-background-size: $i;
         -o-background-size: $i;
            background-size: $i;
}
@mixin box-shadow($i){
    -webkit-box-shadow: $i;
       -moz-box-shadow: $i;
        -ms-box-shadow: $i;
         -o-box-shadow: $i;
            box-shadow: $i;
}

@mixin flexbox() {
  display: -webkit-flex;
   display: -webkit-box;
   display: -ms-flexbox;
      display: -moz-box;
          display: flex;
}
@mixin filter($i){
    -webkit-filter: $i;
       -moz-filter: $i;
        -ms-filter: $i;
         -o-filter: $i;
            filter: $i;
}
@mixin animation($i){
    -webkit-animation: $i;
       -moz-animation: $i;
        -ms-animation: $i;
         -o-animation: $i;
            animation: $i;
}
@mixin gradient($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top,  $from, $to);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin keyframes($name) {
    @-ms-keyframes #{$name} {
        @content;
    }
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}