body, div, a {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: none; 
	}
}

a:focus {outline: 0;}

img {
	max-width: 100%;
}


html{
	width: 100%;
	height: 100%;
}
body{
	@extend html;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	overflow: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	@media (min-width: 1921px){
	    position: relative;
	    max-width: 1900px;
	    margin: 0 auto;
	}
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrap1 {
  flex: 1 0 auto;
  background: #fff;
}
.wrap2 {
  flex: 0 0 auto;
  background: #fff;
}

.wrap-content{
	position: relative;
	overflow: hidden;
}

@include fontface("DINPro", "DINPro");
