@charset "UTF-8";

// Slick icon entity codes outputs the following
// "\2022" outputs ascii character "•"

$slick-font-path: "../stick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../stick/" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 10;
    display: block;
    width: 53px;
    height: 53px;
    cursor: pointer;
    top: 50%;
    padding: 0;
    outline: none;
    border: 1px solid rgba(#fb6c92, 1);
    background: transparent;
    @include transform(translate(0, -50%));
    @include border-radius(50%);
    @include transition(all .5s ease);
    svg{
        position: relative;
        width: 15px;
        height: 100%;
        path{
            fill: rgba(#fb6c92, 1);
            @include transition(all .5s ease);
        }
    }
    &:hover, &:focus {
        outline: none;
        opacity: 1;
        border-color: rgba(#fb6c92, 1);
        background: rgba(#fb6c92, 1);
        svg{
            path{
                fill: rgba(#fff, 1);
            }
        }
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev {
    left: -50px;
    svg{
        left: -2px;
    }
}
.slick-next {
    right: -50px;
    svg{
        left: 2px;
    }
}

@media (max-width: 1400px){
    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
        svg{
            width: 14px;
        }
    }
}

@media (max-width: 1400px){
    .slick-prev,
    .slick-next {
        width: 42px;
        height: 42px;
        svg{
            width: 13px;
        }
    }
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -10px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
        button {
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            border: 0;
            background: #303030;;
            @include border-radius(0);
            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button {
            border: 0;
            background: #fff71f;
        }
    }
}