.aboutMe-home{
	position: relative;
	@include flexbox();
	// @include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(center);
	padding: 50px 0;
	.aboutMe-home__img{
		order: 1;
		position: relative;
		width: 453px;
		height: 541px;
		overflow: hidden;
		&:after{
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/img-aboutMe-back.png') center no-repeat;
			@include background-size(contain);
		}
		img{
		    position: absolute;
		    z-index: 0;
		    top: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
		    -o-object-fit: scale-down;
		    object-fit: scale-down;
		    @include transition(all .4s linear);
		}
	}
	.aboutMe-home__info{
		position: relative;
		z-index: 5;
		order: 2;
		width: 870px;
		padding: 0 0 0 115px;
	}
	.aboutMe-home__header{
		color: #636363;
		font-size: 38px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -0.19px;
		margin: 0 0 25px;
	}
	.aboutMe-home__desc{}
	.aboutMe-home__but{
		.but-link-svg{
			@include justify-content(flex-end);
			padding: 0 20px 0 0;
		}
	}
	.circle-box{
		&.circle-box-1{
			top: -70px;
			left: calc(50% - 870px);
			z-index: 1;
		}
		&.circle-box-2{
			bottom: -180px;
			right: calc(50% - 1140px);
			z-index: 0;
		}
		&.circle-box-3{
			bottom: -20px;
		    left: calc(50% - 100px);
		    z-index: 0;
		}
		&.circle-box-4{
			bottom: -330px;
		    left: calc(50% - 1065px);
		    z-index: 0;
		}
		&.circle-box-5{
			bottom: -330px;
    		right: calc(50% - 470px);
			z-index: 0;
		}
	}
}

@media (max-width: 1620px){
	.aboutMe-home{
		padding: 50px 0;
		.aboutMe-home__img{
			width: 423px;
			height: 505px;
		}
		.aboutMe-home__info{
			width: 760px;
			padding: 0 0 0 95px;
		}
		.aboutMe-home__header{
			font-size: 38px;
			line-height: 1.2;
			letter-spacing: -0.19px;
			margin: 0 0 25px;
		}
		.aboutMe-home__but{
			.but-link-svg{
				padding: 0 20px 0 0;
			}
		}
		.circle-box{
			&.circle-box-1{
				top: -70px;
				left: calc(50% - 800px);
				z-index: 1;
			}
			&.circle-box-2{
				bottom: -180px;
				right: calc(50% - 1070px);
				z-index: 0;
			}
			&.circle-box-3{
				bottom: -20px;
			    left: calc(50% - 70px);
			    z-index: 0;
			}
			&.circle-box-4{
				bottom: -330px;
			    left: calc(50% - 1065px);
			    z-index: 0;
			}
			&.circle-box-5{
				bottom: -330px;
	    		right: calc(50% - 525px);
				z-index: 0;
			}
		}
	}
}

@media (max-width: 1400px){
	.aboutMe-home{
		padding: 50px 0;
		.aboutMe-home__img{
		    width: 400px;
    		height: 478px;
		}
		.aboutMe-home__info{
			width: 690px;
			padding: 0 0 0 80px;
		}
		.aboutMe-home__header{
			font-size: 34px;
			line-height: 1.2;
			letter-spacing: -0.16px;
			margin: 0 0 25px;
		}
	}
}

@media (max-width: 1200px){
	.aboutMe-home{
		padding: 50px 0;
		.aboutMe-home__img{
		    width: 330px;
    		height: 395px;
		}
		.aboutMe-home__info{
			width: 580px;
			padding: 0 0 0 60px;
		}
		.aboutMe-home__header{
			font-size: 30px;
			line-height: 1.2;
			letter-spacing: -0.14px;
			margin: 0 0 20px;
		}
	}
}

@media (max-width: 1000px){
	.aboutMe-home{
		padding: 50px 0;
		.aboutMe-home__img{
	        width: 290px;
    		height: 346px;
		}
		.aboutMe-home__info{
			width: 390px;
			padding: 0 0 0 35px;
		}
		.aboutMe-home__header{
			font-size: 26px;
			line-height: 1.2;
			letter-spacing: -0.12px;
			margin: 0 0 20px;
		}
		.circle-box{
			&.circle-box-5{
			    bottom: -220px;
    			right: calc(50% - 375px);
			}
		}
	}
}

@media (max-width: 768px){
	.aboutMe-home{
		padding: 50px 0 0;
		.aboutMe-home__img{
	        width: 234px;
    		height: 280px;
		}
		.aboutMe-home__info{
			width: 360px;
			padding: 0 0 0 25px;
		}
		.aboutMe-home__header{
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: -0.11px;
			margin: 0 0 20px;
		}
	}
}

@media (max-width: 640px){
	.aboutMe-home{
		@include flex-wrap(wrap);
		padding: 50px 0 0;
		.aboutMe-home__img{
			order: 2;
	        width: 100%;
    		height: 490px;
		}
		.aboutMe-home__info{
			order: 1;
			width: 100%;
			padding: 25px 0;
		}
		.aboutMe-home__header{
			font-size: 24px;
			line-height: 1.2;
			letter-spacing: -0.11px;
			margin: 0 0 20px;
		}
	}
}

@media (max-width: 480px){
	.aboutMe-home{
		.aboutMe-home__img{
			height: 410px;
		}
	}
}

@media (max-width: 400px){
	.aboutMe-home{
		padding: 30px 0 0;
		.circle-box{
			&.circle-box-3{
				display: none;
			}
		}
	}
}