.excurs-pal-home{
	padding: 130px 0 90px;
}
.excursions-home{
	position: relative;
	@include flexbox();
	// @include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
	padding: 0;
	.excursions-home__img{
		order: 1;
		position: relative;
		width: 609px;
		height: 489px;
		overflow: hidden;
		&:after{
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/img-2-back.png') center no-repeat;
			@include background-size(contain);
		}
		img{
		    position: absolute;
		    z-index: 0;
		    top: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
		    -o-object-fit: scale-down;
		    object-fit: scale-down;
		    @include transition(all .4s linear);
		}
	}
	.excursions-home__info{
		position: relative;
		z-index: 5;
		order: 2;
		width: 660px;
		padding: 0 35px;
	}
	.excursions-home__but{
		.but-link-svg{
			@include justify-content(flex-end);
			padding: 0 20px 0 0;
		}
	}
	.circle-box{
		&.circle-box-2{
			bottom: -60px;
			right: calc(50% - 726px);
			z-index: 2;
		}
		&.circle-box-4{
		    bottom: -30px;
    		left: calc(50% - 1000px);
		    z-index: 0;
		}
		&.circle-box-1{
			bottom: -122px;
    		left: calc(50% - 100px);
			z-index: 2;
		}
	}
}

@media (max-width: 1620px){
	.excursions-home{
		.excursions-home__img{
			width: 540px;
			height: 434px;
		}
		.excursions-home__info{
			width: 625px;
		}
		.circle-box{
			&.circle-box-2{
				bottom: -60px;
				right: calc(50% - 726px);
				z-index: 2;
			}
			&.circle-box-4{
			    bottom: -30px;
	    		left: calc(50% - 920px);
			    z-index: 0;
			}
			&.circle-box-1{
				bottom: -122px;
	    		left: calc(50% - 100px);
				z-index: 2;
			}
		}
	}
}

@media (max-width: 1400px){
	.excurs-pal-home{
		padding: 90px 0 70px;
	}
	.excursions-home{
		.excursions-home__img{
			width: 510px;
    		height: 410px;
		}
		.excursions-home__info{
		    width: 550px;
		}
		.excursions-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 1200px){
	.excurs-pal-home{
		padding: 60px 0 40px;
	}
	.excursions-home{
		.excursions-home__img{
			width: 430px;
    		height: 350px;
		}
		.excursions-home__info{
		    width: 480px;
		}
		.excursions-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 1000px){
	.excurs-pal-home{
		padding: 40px 0 30px;
	}
	.excursions-home{
		padding: 0 0 15px;
		.excursions-home__img{
			width: 333px;
    		height: 276px;
		}
		.excursions-home__info{
		    width: 388px;
		}
		.excursions-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 768px){
	.excurs-pal-home{
		padding: 40px 0 30px;
	}
	.excursions-home{
		padding: 0 0 15px;
		.excursions-home__img{
			width: 255px;
    		height: 215px;
		}
		.excursions-home__info{
		    width: 333px;
		    padding: 0 0 0 25px;
		}
		.excursions-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 640px){
	.excurs-pal-home{
		padding: 40px 0 30px;
	}
	.excursions-home{
		@include flex-wrap(wrap);
		padding: 0 0 15px;
		.excursions-home__img{
			order: 2;
			width: 100%;
    		height: 350px;
		}
		.excursions-home__info{
			order: 1;
		    width: 100%;
		    padding: 0 0 25px;
		}
		.excursions-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 400px){
	.excursions-home{
		.excursions-home__img{
			height: 286px;
		}
	}
}