.main-form{
	position: absolute;
	z-index: 1;
	top: 250px;
	left: 0;
	width: 100%;
	.main-form__header{
		width: 540px;
		color: #636363;
		font-size: 58px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		line-height: 1.1;
		letter-spacing: -0.29px;
	}
	.main-form__body{
		width: 372px;
		padding: 45px 0 0;
	}
}

.form-main{
	width: 100%;
	padding: 40px;
	background: #becefe;
	@include box-shadow(0px 4px 27px 0px rgba(0, 0, 0, 0.1));
	@include border-radius(30px);
	.form-group{
		margin: 0 0 16px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 42px; 
			border: none;
			background: #fff;
			color: #000;
			font-size: 24px;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 300;
			letter-spacing: -0.12px;
			@include box-shadow(none);
			@include border-radius(30px);
			@include transition(all .3s linear);
			&::-webkit-input-placeholder{
				color: rgba(#bdbdbd, 0.7);
			}
			&::-moz-placeholder{
				color: rgba(#bdbdbd, 0.7);
			}
			&:-moz-placeholder{
				color: rgba(#bdbdbd, 0.7);
			}
			&:-ms-input-placeholder{
				color: rgba(#bdbdbd, 0.7);
			}
			&.error{
				color: #a94442;
				border-color: #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
			&:focus, &:active{
				outline: 0;
				border: none;
				@include box-shadow(none);
			}
		}
		input[type="number"]{
			-webkit-appearance: none;
			-moz-appearance:    none;
			appearance:         none;
			&:hover, &:focus, &:active{
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
			}
			&::-webkit-inner-spin-button, 
			&::-webkit-outer-spin-button { 
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
			}
		}
	}
	.input-group{
	    width: 100%;
		.input-group-addon{
			position: absolute;
			top: 50%;
			left: 0;
			width: 45px;
			z-index: 1;
			border: none;
			text-align: center;
			background: transparent;
			@include transform(translateY(-50%));
		}
		input{
			position: relative;
			height: 100%;
			z-index: 0;
			@include border-radius(30px !important);
			padding: 6px 12px 6px 45px;
		}
	}
	
	textarea{
		max-width: 100%!important;
		min-width: 100%!important;
		min-height: 85px!important;
		max-height: 85px!important;
		padding: 10px 32px;
		@include border-radius(15px !important);
	}
	.help-block{
		color: #a94442;
		margin: 0px!important;
		font-size: 12px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 300;
		letter-spacing: -0.29px;
		text-align: center;
	}
	input[type="submit"], button{
		width: 100%;
		border: none;
		outline: 0;
		@include box-shadow(none);
		margin: 40px 0 0;
		&:hover, &:focus, &:active{
			outline: 0;
			@include box-shadow(none);
		}
	}
}

@media (max-width: 1400px){
	.main-form{
		top: 150px;
		left: 0;
		width: 100%;
		.main-form__header{
			width: 540px;
			font-size: 50px;
			line-height: 1.1;
			letter-spacing: -0.26px;
		}
		.main-form__body{
			width: 340px;
			padding: 40px 0 0;
		}
	}

	.form-main{
		padding: 30px 30px;
		.form-group{
			input, textarea{
				font-size: 22px;
				letter-spacing: -0.11px;
			}
		}
		input[type="submit"], button{
			margin: 30px 0 0;
		}
	}
}

@media (max-width: 1200px){
	.main-form{
		top: 130px;
		left: 0;
		width: 100%;
		.main-form__header{
			width: 400px;
			font-size: 42px;
			line-height: 1.1;
			letter-spacing: -0.2px;
		}
		.main-form__body{
			width: 340px;
			padding: 30px 0 0;
		}
	}
}

@media (max-width: 1000px){
	.main-form{
		top: 130px;
		left: 0;
		width: 100%;
		.main-form__header{
			width: 320px;
			font-size: 33px;
			line-height: 1.1;
			letter-spacing: -0.12px;
		}
		.main-form__body{
			width: 285px;
			padding: 20px 0 0;
		}
	}
	.form-main{
		padding: 30px 20px;
		.form-group{
			input, textarea{
				font-size: 18px;
				letter-spacing: -0.09px;
			}
		}
		input[type="submit"], button{
			margin: 30px 0 0;
		}
	}
}

@media (max-width: 768px){
	.main-form{
		top: 130px;
		left: 0;
		width: 100%;
		.main-form__header{
			width: 320px;
			font-size: 30px;
			line-height: 1.1;
			letter-spacing: -0.1px;
		}
		.main-form__body{
			width: 255px;
			padding: 20px 0 0;
		}
	}
	.form-main{
		padding: 30px 20px;
		.form-group{
			input, textarea{
				font-size: 17px;
				letter-spacing: -0.085px;
			}
		}
		input[type="submit"], button{
			margin: 30px 0 0;
		}
	}
}

@media (max-width: 400px){
	.main-form{
		.main-form__header{
			width: 300px;
			text-align: center;
			margin: 0 auto;
		}
		.main-form__body{
			margin: 0 auto;
		}
	}
}