
@import "_slide";
@import "_form-main";
@import "_aboutMe-home";
@import "_excursions-home";
@import "_palom-home";

.home-content{
	padding: 0 0 260px;
	.content{
		width: 1282px;
		padding: 0;
	}
}

.txt-style{
	color: #5a5a5a;
	font-size: 24px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.12px;
    text-align: justify;
    &.txt-style-small{
    	font-size: 18px;
		letter-spacing: -0.09px;
    }
	p{
		margin: 0 0 25px;
	}
}

.box-style{
	.box-style__header{
		font-size: 24px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 4.5px;
		text-transform: uppercase;
		padding: 0 0 10px;
	}
}

.color-blue{
	color: #3d59e8 !important;
}
.color-blue-light{
	color: #698efd !important;
}
.color-pink{
	color: #fc6b91 !important;
}

.circle-box{
	position: absolute;
	z-index: 0;
	@include border-radius(50%);
	&.circle-box-1, &.circle-box-3{
		background: rgba(#fb6d92, 0.05);
	}
	&.circle-box-2,&.circle-box-4{
		background: rgba(#8795f1, 0.07);
	}
	&.circle-box-1{
		width: 170px;
		height: 170px;
		
	}
	&.circle-box-2{
		width: 416px;
		height: 416px;
	}
	&.circle-box-3{
		width: 85px;
		height: 85px;
	}
	&.circle-box-4{
		width: 256px;
		height: 256px;
	}
	&.circle-box-5{
		width: 238px;
		height: 238px;
		background: rgba(#fb6d92, 0.1);
	}
	&.circle-box-big{
		width: 1145px;
		height: 1145px;
		background: rgba(#8b94ee, 0.1);
		&.circle-box-pink{
			background: rgba(#f656a0, 0.1);
		}
	}
}

@media (max-width: 1620px){
	.home-content{
		padding: 0 0 260px;
		.content{
			width: 1170px;
			padding: 0;
		}
	}
}

@media (max-width: 1400px){
	.home-content{
		padding: 0 0 160px;
		.content{
			width: 1060px;
			padding: 0;
		}
	}
	.txt-style{
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: -0.11px;
	    &.txt-style-small{
	    	font-size: 18px;
			letter-spacing: -0.09px;
	    }
		p{
			margin: 0 0 25px;
		}
	}
	.box-style{
		.box-style__header{
			font-size: 22px;
			line-height: 1.5;
			letter-spacing: 4.4px;
			padding: 0 0 10px;
		}
	}
}

@media (max-width: 1200px){
	.home-content{
		padding: 0 0 160px;
		.content{
			width: 980px;
			padding: 0 40px;
		}
	}
	.txt-style{
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: -0.1px;
	    &.txt-style-small{
	    	font-size: 18px;
			letter-spacing: -0.09px;
	    }
		p{
			margin: 0 0 20px;
		}
	}
	.box-style{
		.box-style__header{
			font-size: 20px;
			line-height: 1.5;
			letter-spacing: 4.2px;
			padding: 0 0 10px;
		}
	}
}

@media (max-width: 1000px){
	.home-content{
		padding: 0 0 90px;
		.content{
			width: 760px;
			padding: 0 20px;
		}
	}
	.txt-style{
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: -0.09px;
	    &.txt-style-small{
	    	font-size: 18px;
			letter-spacing: -0.09px;
	    }
		p{
			margin: 0 0 20px;
		}
	}
	.circle-box{
		&.circle-box-5{
			width: 168px;
			height: 168px;
		}
	}
}

@media (max-width: 768px){
	.home-content{
		padding: 0 0 90px;
		.content{
			width: 620px;
			padding: 0 10px;
		}
	}
	.box-style{
		.box-style__header{
			font-size: 18px;
			line-height: 1.5;
			letter-spacing: 3.2px;
			padding: 0 0 10px;
		}
	}
}

@media (max-width: 640px){
	.home-content{
		padding: 0 0 90px;
		.content{
			width: 100%;
			padding: 0 20px;
		}
	}
}

@media (max-width: 480px){
	.home-content{
		padding: 0 0 60px;
		.content{
			padding: 0 20px;
		}
	}
}

@media (max-width: 360px){
	.home-content{
		.content{
			padding: 0px 10px;
		}
	}
}