.palom-home{
	position: relative;
	@include flexbox();
	// @include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
	padding: 0;
	.palom-home__img{
		order: 2;
		position: relative;
		width: 622px;
		height: 495px;
		overflow: hidden;
		&:after{
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/img-3-back.png') center no-repeat;
			@include background-size(contain);
		}
		img{
		    position: absolute;
		    z-index: 0;
		    top: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
		    -o-object-fit: scale-down;
		    object-fit: scale-down;
		    @include transition(all .4s linear);
		}
	}
	.palom-home__info{
		position: relative;
		z-index: 5;
		order: 1;
		width: 660px;
		padding: 0 35px;
	}
	.palom-home__but{
		.but-link-svg{
			@include justify-content(flex-end);
			padding: 0 20px 0 0;
		}
	}
	.circle-box{
		&.circle-box-1{
		    bottom: 45px;
    		left: calc(50% - 675px);
		    z-index: 0;
		}
		&.circle-box-3{
		    bottom: -170px;
    		left: calc(50% - 0px);
			z-index: 2;
		}
		&.circle-box-4{
			bottom: -150px;
    		right: calc(50% - 1065px);
			z-index: 2;
		}
	}
}

@media (max-width: 1620px){
	.palom-home{
		.palom-home__img{
			width: 540px;
			height: 430px;
		}
		.palom-home__info{
			width: 625px;
		}
		.circle-box{
			&.circle-box-1{
			    bottom: 45px;
	    		left: calc(50% - 675px);
			    z-index: 0;
			}
			&.circle-box-3{
			    bottom: -170px;
	    		left: calc(50% - 0px);
				z-index: 2;
			}
			&.circle-box-4{
				bottom: -150px;
	    		right: calc(50% - 1065px);
				z-index: 2;
			}
		}
	}
}

@media (max-width: 1400px){
	.palom-home{
		.palom-home__img{
			width: 510px;
    		height: 406px;
		}
		.palom-home__info{
		    width: 550px;
		}
		.palom-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 1200px){
	.palom-home{
		.palom-home__img{
			width: 430px;
    		height: 352px;
		}
		.palom-home__info{
		    width: 480px;
		}
		.palom-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 1000px){
	.palom-home{
		padding: 15px 0 0;
		.palom-home__img{
			width: 333px;
    		height: 276px;
		}
		.palom-home__info{
		    width: 388px;
		}
		.palom-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 768px){
	.palom-home{
		padding: 15px 0 0;
		.palom-home__img{
			width: 255px;
    		height: 215px;
		}
		.palom-home__info{
		   	width: 333px;
		    padding: 0 25px 0 0;
		}
		.palom-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 640px){
	.palom-home{
		@include flex-wrap(wrap);
		padding: 15px 0;
		.palom-home__img{
			order: 2;
			width: 100%;
    		height: 350px;
		}
		.palom-home__info{
			order: 1;
		    width: 100%;
		    padding: 0 0 25px;
		}
		.palom-home__but{
			.but-link-svg{
				padding: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 400px){
	.palom-home{
		.palom-home__img{
			height: 286px;
		}
	}
}