.slide-home{
	height: 892px;
	.content{
		position: relative;
	}
}
.slide-box{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	.slick-list, .slick-track{
		height: 100%;
	}
	.slide-box__item{
		width: 100%;
		height: 100%;
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/main-back.png') no-repeat;
			@include background-size(cover);
		}
	}
	.slide-box__img{
		position: absolute;
		z-index: 0;
		right: 0;
		top: 0;
		width: 1100px;
		height: 100%;
		overflow: hidden;
		img{
		    position: absolute;
		    z-index: 1;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    -o-object-fit: cover;
		    object-fit: cover;
		    @include transition(all .4s linear);
		}
	}
}

@media (max-width: 1400px){
	.slide-home{
		height: 660px;
	}
	.slide-box{
		.slide-box__item{
			&:after{
				background-position: 100px 0 !important;
			}
		}
		.slide-box__img{
			width: 690px;
		}
	}
}

@media (max-width: 1200px){
	.slide-home{
		height: 605px;
	}
	.slide-box{
		.slide-box__item{
			&:after{
				background-position: -105px 0 !important;
			}
		}
		.slide-box__img{
			width: 690px;
		}
	}
}

@media (max-width: 1000px){
	.slide-home{
		height: 505px;
	}
	.slide-box{
		.slide-box__item{
			&:after{
				background-position: -80px 0 !important;
			}
		}
		.slide-box__img{
			width: 680px;
		}
	}
}

@media (max-width: 768px){
	.slide-box{
		.slide-box__item{
			&:after{
				background-position: -150px 0 !important;
			}
		}
	}
}

@media (max-width: 640px){
	.slide-home{
		height: 560px;
	}
	.slide-box{
		.slide-box__item{
			&:after{
				background: url('../images/main-back-xs.png') no-repeat;
				@include background-size(cover);
				background-position: 0 0 !important;
			}
		}
	}
}